/* html */
html {
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.5;
  }

/* body */
body { 
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  }

/* p */
p {
  color: var(--quaternary-text-color);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.028125rem;
  }

/* a */
a {
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color .5s linear;
  &:hover {
    color: var(--primary-text-color);
    }
  }

/* b, strong */
b, strong {
  font-weight: var(--fifth-font-weight);
  }

/* ul, ol */
ul, ol {
  list-style: none;
  }

/* container */
[class*=__container] {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 78rem;
  width: 100%;
  }

/* close-panel */
.close-panel {
  position: relative;
  height: 2.5rem;
  background: var(--primary-background-color);
  transition: .5s height;
  &__btn {
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    font-size: 0;
    background: url(../img/icons/close.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: .5s opacity;
    &:hover {
      opacity: 0.6;
      }
    }
  &.hidden {
    height: 0;
    overflow: hidden;
    }
  }

/* btn */
.btn {
  display: inline-block;
  padding: 0.75rem 2.75rem;
  vertical-align: top;
  color: var(--tertiary-text-color);
  font-weight: var(--quaternary-font-weight);
  background: var(--primary-btn-color);
  border-radius: 0.75rem;
  transition: .5s all;
  &:hover {
    color: var(--primary-text-color);
    background: var(--secondary-btn-color);
    }
  }

/* favorite-btn */
.favorite-btn {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: top;
  border: 0.0625rem solid var(--primary-border-color);
  border-radius: 0.75rem;
  transition: .5s background;
  &:hover {
    background: var(--secondary-btn-color);
    }
  input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: 0;
    cursor: pointer;
    appearance: none;
    transition: all .5s;
    &:before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url(../img/icons/favourite.svg) center no-repeat;
      background-size: 1.25rem 1.125rem;
      content: "";
      transition: .5s opacity;
      }
    &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url(../img/icons/favourite-active.svg) center no-repeat;
      background-size: 1.25rem 1.125rem;
      content: "";
      transition: .5s opacity;
      opacity: 0;
      }
    &:checked {
      &:before {
        opacity: 0;
        }
      &:after {
        opacity: 1;
        }
      }
    }
  }

/* share-btn */
.share-btn {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: top;
  border: 0.0625rem solid var(--primary-border-color);
  font-size: 0;
  border-radius: 0.75rem;
  transition: .5s background;
  &:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/icons/share.svg) center no-repeat;
    background-size: 1.25rem 1.25rem;
    content: "";
    transition: .5s opacity;
    }
  &:hover {
    background: var(--secondary-btn-color);
    }
  &_size-small {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    &:before {
      background-size: 0.75rem 0.75rem;
      }
    }
  }

/* title */
.title {
  margin: 0 0 2rem;
  font-size: 1.5rem;
  font-weight: var(--quaternary-font-weight);
  letter-spacing: -0.03rem;
  line-height: 2rem;
  }

/* small-title */
.small-title {
  font-size: 1.125rem;
  font-weight: var(--tertiary-font-weight);
  line-height: 1.5rem;
  letter-spacing: -0.04rem;
  }

/* link */
.link {
  display: inline-block;
  vertical-align: top;
  color: var(--primary-text-color);
  font-size: 1.125rem;
  font-weight: var(--primary-font-weight);
  line-height: 1.5rem;
  letter-spacing: -0.04rem;
  &:hover {
    color: var(--secondary-text-color);
    }
  }

/* feedback-btn */
.feedback-btn {
  position: relative;
  display: none;
  width: 1.875rem;
  height: 2rem;
  font-size: 0;
  background: var(--primary-btn-color);
  border-radius: 0.5rem;
  &:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/icons/feedback.svg) center no-repeat;
    background-size: 0.875rem 1rem;
    content: "";
    }
  }